/* movie_detail_cont */

.movie_detail_cont .inner {
	display: flex;
}
.movie_detail_cont .left_cont {
	width: 60%;
	z-index: 10;
}
.movie_detail_cont .right_cont {
	width: 40%;
	text-align: right;
	z-index: 10;
}
.movie_detail_all .section_title {
	padding-bottom: 2.5rem;
}
.movie_detail_cont .left_cont .title {
	font-size: 5rem;
	font-weight: 700;
	line-height: 1.2;
	/* margin-bottom: 3rem; */
}
.movie_detail_cont {
	padding: 10rem 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: calc(100vh - 7.42rem);
}
.movie_detail_cont::before {
	content: '';
	background: linear-gradient(to top, black, transparent);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 102%;
	backdrop-filter: blur(5px);
	height: calc(100vh - 7.42rem);
}
.movie_detail_cont .left_cont .youtube_btn button {
	position: relative;
	margin-right: 1.333rem;
	padding: 1.5rem 5rem;
	background-color: rgb(255, 255, 255);
	font-size: 2rem;
	font-weight: 700;
	color: rgb(0, 0, 0);
	border-radius: 4px;
	backdrop-filter: blur(30px);
	display: flex;
	align-items: center;
	white-space: nowrap;
	transition: opacity 0.3s ease 0s, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
.movie_detail_cont .left_cont .title_cont {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
	gap: 2.5rem;
}
.movie_detail_cont .left_cont .youtube_btn button:hover {
	transform: scale(1.03);
}
.modal-header {
	padding: 2rem 2rem 1rem;
}
.modal-title.h4 {
	color: #000;
	font-size: 4rem;
	font-weight: 600;
}
.modal-body p {
	color: #000;
}
.movie_review_cont {
	padding: 0 0 10rem 0;
}
.movie_review_cont ul {
	padding: 0;
}
.movie_review_cont ul li {
	/* border: 1px solid #e50914; */
	margin-bottom: 4rem;
	border-radius: 1rem;
	padding: 2rem;
	background: #dadada0a;
}
.movie_review_cont .star {
	color: rgb(255, 193, 23);
}
.no_cont {
	padding: 5rem 0;
	text-align: center;
}
.movie_detail_cont .genres {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 2rem;
}
.movie_actors_cont {
	padding-bottom: 10rem;
}
.movie_actors_cont img {
	border-radius: 1rem;
}
.movie_actors_cont h4 {
	font-size: 2rem;
	margin-top: 1rem;
}
.movie_review_cont .review_more {
	text-decoration: underline;
}
