.banner {
	height: 80vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.banner::before {
	content: '';
	background: linear-gradient(to top, black, transparent);
	position: absolute;
	left: 0;
	width: 100%;
	height: 80vh;
}
.banner-text-area {
	width: 36%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* padding: 4rem; */
	z-index: 10;
	/* position: relative; */
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
}
.banner-text-area h1 {
	font-size: 5rem;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 3rem;
}
.banner-text-area p {
	line-height: 1.4;
	font-size: 2rem;
}

@media screen and (max-width: 767px) {
	.banner-text-area h1 {
		font-size: 4rem;
	}
	.banner-text-area p {
		font-size: 1.8rem;
	}
	.banner-text-area {
		width: 90%;
	}
}
