.movie_card {
	width: 22rem;
	height: 33rem;
	background-size: cover;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	border-radius: 5px;
}
.overlay {
	width: 100%;
	height: 100%;
	background: rgba(43, 41, 41, 0.9);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	color: #fff;
	font-weight: bold;
	overflow-wrap: break-word;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: end;
	gap: 1rem;
	border-radius: 5px;
}
.overlay:hover {
	opacity: 1;
}
.movie_card:hover {
	transform: translate3d(0, -0.75rem, 0);
	z-index: 2;
}
.overlay h1 {
	font-size: 2rem;
}
.id_cont {
	display: flex;
	gap: 0.7rem;
	flex-wrap: wrap;
}
.popularity {
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}
.popularity span {
	font-size: 1.4rem;
}
.adult {
	font-size: 1.4rem;
	margin-top: 1rem;
}
.release_date {
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

@media screen and (max-width: 767px) {
}
