* {
	color: #fff;
}
body {
	background: #000 !important;
}
.navbar {
	height: 8rem;
}
.navbar > .container-fluid {
	height: 100%;
}
.navbar,
.navbar > .container-fluid {
	background: #000;
	padding: 0;
}
.inner {
	max-width: 144rem;
	margin: 0 auto;
}
.nav-link {
	color: #fff;
}
.nav-link:focus,
.nav-link:hover {
	color: #fff;
}
.btn-danger {
	/* background: transparent; */
}
.form-control {
	padding: 0.6rem 1.2rem;
	font-size: 1.5rem;
}
.btn {
	font-size: 1.5rem;
	padding: 1rem;
	width: 10rem;
}
.navbar-nav {
	gap: 2rem;
	font-size: 1.7rem;
}
.navbar-brand {
	margin-right: 10rem;
}

/* 반응형 */

@media screen and (max-width: 1440px) {
	.inner {
		max-width: 100%;
		padding: 0 5rem;
	}
	.navbar.inner {
		padding: 0;
	}
	.navbar .container-fluid {
		padding: 0 5rem;
	}
}

@media screen and (max-width: 989px) {
	.navbar-collapse {
		position: absolute;
		z-index: 99;
		top: 8rem;
		left: 0;
		width: 100%;
		background: #000;
		padding: 0 2rem 2rem;
	}
	.navbar-nav {
		gap: 0;
	}
	.navbar-toggler-icon {
		filter: invert(1);
	}
}

@media screen and (max-width: 767px) {
	.inner {
		padding: 0 1.75rem;
	}
	.navbar.inner {
		padding: 0;
	}
	.navbar .container-fluid {
		padding: 0 1.75rem;
	}
}
